body {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  background-color: wheat;
  color: black;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arial Narrow", Arial, sans-serif;
}

a {
  color: #00b7ff;
}
